* {
  box-sizing: border-box;
}

body {
  background-color:beige;
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.btn {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 136px;
  font-weight: bold;
  line-height: 204px;
  height: 204px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 204px;
}